body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 80vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f8f8; /* Slightly lighter background for the whole form */
}

#chat-container {
    background-color: #f9f9f9; /* Light background for chat container */
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    overflow-y: auto;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Subtle shadow for depth */
}

#chat-container div {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
}

#chat-container div.message.bot {
    background-color: #b7fae0; /* Bot message background */
}

#chat-container div.message.user {
    background-color: #e8e8e8; /* User message background, slightly lighter */
}

#user-input {
    flex-grow: 1;
    margin-right: 10px;
    margin-left: 10px;
}

#chat-form button {
    margin-right: 10px;
}

#chat-form button:hover {
    background-color: #00a54a;
}

/* Profile picture styles */
.message {
    display: flex;
    align-items: center;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    background-size: contain; /* Ensure the entire image is visible */
    background-repeat: no-repeat; /* Prevent image repetition */
    background-position: center; /* Center the image within the element */
}

.user .profile-pic {
    background-image: url('/static/images/avatars/dinosaur.png');
}

.bot .profile-pic {
    background-image: url('/static/images/avatars/cute_robot.png');
}

/* Loading indicator styles */
.loading-indicator {
    display: inline-block;
    margin-left: 10px;
}

.dot {
    height: 8px;
    width: 8px;
    background-color: #4CAF50;
    border-radius: 50%;
    display: inline-block;
    animation: dotFlashing 1s infinite linear alternate;
    animation-delay: 0.5s;
}

.dot:nth-child(1) {
    animation-delay: 0s;
}

.dot:nth-child(2) {
    animation-delay: 0.25s;
}

.dot:nth-child(3) {
    animation-delay: 0.5s;
}

@keyframes dotFlashing {
    0% {
        background-color: #4CAF50;
    }

    100% {
        background-color: #e0e0e0;
    }
}
