<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Import Font from Google -->
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins" />

        <!-- Your existing CSS -->
        <link rel="stylesheet" type="text/css" href="/static/css/chat.css">
    </head>

    <body>
        <div class="container-fluid d-flex flex-column vh-100">
            <div id="chat-container" class="flex-grow-1 overflow-auto"></div>

            <form id="chat-form" class="mb-3">
                <div class="input-group">
                    <input type="text" name="user_input" id="user-input" class="form-control"
                        placeholder="Type your message..." required>
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-success">Send</button>
                    </div>
                </div>
                <p style="display: none;" id="paragraph">{{ session_id }}</p>
            </form>
        </div>

        <script>
            // New code to add the first message
            document.addEventListener('DOMContentLoaded', (event) => {
                if ({{ first_message | tojson | safe }}) {
                    addMessageToChat('Bot', {{ first_message | tojson | safe }});
                }
            });

            const chatContainer = document.getElementById('chat-container');
            const chatForm = document.getElementById('chat-form');
            const userInputField = document.getElementById('user-input');
            const session = document.getElementById('paragraph');

            let userMessageCount = 0; // Keep track of how many messages the user has sent in a row

            chatForm.addEventListener('submit', function (event) {
                event.preventDefault();

                const userInput = userInputField.value;
                addMessageToChat('You', userInput);
                userInputField.value = ''; // Clear the input field

                // Check if the user has already sent 4 messages
                if (userMessageCount >= 4) {
                    // Directly add the final bot message
                    addMessageToChat('Bot', "Thank you for your conversation!");
                    showLoadingIndicator();
                    setTimeout(function () {
                        removeLoadingIndicator();
                        disableChatForm(); // Disable the chat form
                    }, 1000); // Simulate loading for the final message
                    userMessageCount++;
                    return; // Stop further processing
                }

                // Continue with the usual process for the first 4 messages
                showLoadingIndicator();
                console.log("Session: ", session.innerHTML);
                fetch('/chat', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        user_input: userInput,
                        session_id: session.innerHTML
                    })
                })
                    .then(response => response.json())
                    .then(data => {
                        removeLoadingIndicator();
                        updateChatHistory(data.chat_history);
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        removeLoadingIndicator();
                    });

                userMessageCount++; // Increment the message count after sending a message
            });

            function updateChatHistory(chatHistory) {
                chatContainer.innerHTML = ''; // Clear existing messages
            
                const totalMessages = Math.max(chatHistory.user.length, chatHistory.bot.length);
                for (let i = 0; i < totalMessages; i++) {
                    if (i < chatHistory.bot.length) {
                        addMessageToChat('Bot', chatHistory.bot[i]);
                    }
                    if (i < chatHistory.user.length) {
                        addMessageToChat('You', chatHistory.user[i]);
                    }
                }
            
                window.parent.postMessage(chatHistory, '*');
                console.log("Chat post message: ", chatHistory);
            }


            function addMessageToChat(sender, message) {
                const messageDiv = document.createElement('div');
                messageDiv.classList.add('message');
                if (sender === 'You') {
                    messageDiv.classList.add('user');
                } else if (sender === 'Bot') {
                    messageDiv.classList.add('bot');
                }

                // Replace newline characters with <br> tags
                const formattedMessage = message.replace(/\n/g, '<br>');

                messageDiv.innerHTML = `<div class="profile-pic"></div><div><strong>${sender}:</strong> ${formattedMessage}</div>`;
                chatContainer.appendChild(messageDiv);
                chatContainer.scrollTop = chatContainer.scrollHeight;
            }

            function showLoadingIndicator() {
                const loadingDiv = document.createElement('div');
                loadingDiv.classList.add('loading-indicator');
                loadingDiv.innerHTML = `<div class="dot"></div><div class="dot"></div><div class="dot"></div>`;
                chatContainer.appendChild(loadingDiv);
                chatContainer.scrollTop = chatContainer.scrollHeight;
            }

            function removeLoadingIndicator() {
                const loadingDiv = chatContainer.querySelector('.loading-indicator');
                if (loadingDiv) {
                    chatContainer.removeChild(loadingDiv);
                }
            }
            function disableChatForm() {
                // Disable the text input field and the submit button
                userInputField.disabled = true;
                const submitButton = chatForm.querySelector('button[type="submit"]');
                if (submitButton) {
                    submitButton.disabled = true;
                }
                // Send a message to the parent window
                const message = { conversation_end: true };
                window.parent.postMessage("conversation_end", "*"); // End of conversation reached to Qualtrics
                console.log("Disable chat post message: ", message);
            }


        </script>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    </body>

</html>